<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.manulorenzo.moneytransactions.transaction">

    <application>
        <activity android:name="me.manulorenzo.moneytransactions.transaction.TransactionActivity">
            <intent-filter>
                <action android:name="me.manulorenzo.moneytransactions.transaction.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>